@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gatitos en Carrusel</h1>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Imagenes dentro del carrusel -->
        <!--Hubo un error dentro de el nombre de las clases dentro de div, parece ser un error
            por la version que se usaba de bootstrap , por lo que se cambio a las clases correctas.
            y se actualizo el correcto.-->
        <!--Se baso de este link :https://www-w3schools-com.translate.goog/bootstrap/bootstrap_carousel.asp?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=es&_x_tr_pto=tc-->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width: 400px; height: 300px;" class="d-block w-100" alt="Gatito 1">
            </div>

            <div class="carousel-item">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/002/098/203/small/silver-tabby-cat-sitting-on-green-background-free-photo.jpg" style="width: 400px; height: 300px;" class="d-block w-100" alt="Gatito 2">
            </div>

            <div class="carousel-item">
                <img src="https://media.istockphoto.com/id/104355461/es/foto/vista-de-frente-del-gato-de-pelo-corto-brit%C3%A1nica-7-meses-de-edad-sentado.jpg?s=612x612&w=0&k=20&c=X7NTohtQ4EVUcK2y_MyROjkKc2rkGT9n_Fl8LHYZjjk=" style="width: 400px; height: 300px;" class="d-block w-100" alt="Gatito 3">
            </div>
        </div>

        <!-- Controles de carrusel
            Estos son los controles que permiten navegar entre las imagenes del carrusel. Creando botoque permiten ir a la imagen anterior o siguiente.
        -->
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

@section Scripts {
    <!--Con esta funcion nos permite incrustar codigo externo de javascript, en este caso bootstrap-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
<!--Mi anterior intento de hacer un carrusel.-->
<!--<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://static.vecteezy.com/system/resources/thumbnails/002/098/203/small/silver-tabby-cat-sitting-on-green-background-free-photo.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://media.istockphoto.com/id/104355461/es/foto/vista-de-frente-del-gato-de-pelo-corto-brit%C3%A1nica-7-meses-de-edad-sentado.jpg?s=612x612&w=0&k=20&c=X7NTohtQ4EVUcK2y_MyROjkKc2rkGT9n_Fl8LHYZjjk=" alt="Third slide">
        </div>dad-sentado.jpg?s=612x612&w=0&k=20&c=X7NTohtQ4EVUcK2y_MyROjkKc2rkGT9n_Fl
    </div>
</div>-->
